<div class="patrocinadores-section glass-panel">
    <div class="patrocinadores-header">
        <span>Alianzas Estratégicas</span>
        <h3>Patrocinadores Premium</h3>
    </div>

    <div class="logos-grid-premium">
        <!-- Logo 1 -->
        <div class="logo-wrapper-card">
            <div class="placeholder-logo-empresa">
                <a href="https://www.youtube.com/@tributarismo-cuantico" target="_blank">
                    <img src="assets/images/patrocinadores/patro-tributa-cuanti.jpg" alt="Abg-Henry">
                </a>
                <span>Más de 18 años garantizando la seguridad jurídica y tributaria de los contribuyentes.</span>
            </div>
        </div>

        <!-- Logo 2 -->
        <div class="logo-wrapper-card">
            <div class="placeholder-logo-empresa">
                <a href="https://www.facebook.com/henry.perez.oxa.2025" target="_blank">
                    <img src="assets/images/patrocinadores/patro-abg-henry.jpg" alt="Abg-Henry">
                </a>
                <span>Especialistas en Derecho Tributario, aduanero y municipal con amplia trayectoria.</span>
            </div>
        </div>

        <!-- Logo 3 -->
        <div class="logo-wrapper-card">
            <div class="placeholder-logo-empresa">
                <a href="#" target="_self">
                    <img src="assets/images/patrocinadores/patro-pat_xtrem.jpg" alt="Xtreme Park">
                </a>
                <span>Más de 20 atracciones extremas con presencia internacional en más de 30 países.</span>
            </div>
        </div>
    </div>
</div>