<div class="patrocinadores-section glass-panel">
    <div class="patrocinadores-header">
        <span>Alianzas Estratégicas</span>
        <h3>Patrocinadores Premium</h3>
    </div>

    <div class="logos-grid-premium">
        <!-- Logo 1 -->
        <div class="logo-wrapper-card">
            <div class="placeholder-logo-empresa">
                <a href="https://www.youtube.com/@tributarismo-cuantico" target="_blank">
                    <img src="assets/images/patrocinadores/patro-tributa-cuanti.jpg" alt="Abg-Henry">
                </a>
                <span>Más de 18 años de experiencia, trabajando por la seguridad jurídica tributaria de los
                    contribuyentes, garantizando calidad y excelencia en los resultados.</span>
            </div>
        </div>

        <!-- Logo 2 -->
        <div class="logo-wrapper-card">
            <div class="placeholder-logo-empresa">
                <a href="https://www.facebook.com/henry.perez.oxa.2025" target="_blank">
                    <img src="assets/images/patrocinadores/patro-abg-henry.jpg" alt="Abg-Henry">
                </a>
                <span>Especialistas en Derecho Tributario con experiencia laboral en Administración Tributaria Nacional,
                    Aduanera Y Municipal, capacitación en universidades públicas, privadas y asesoramiento en materia
                    Tributaria Jurídica y técnica.</span>
            </div>
        </div>

        <!-- Logo 3 -->
        <div class="logo-wrapper-card">
            <div class="placeholder-logo-empresa">
                <a href="#" target="_self">
                    <img src="assets/images/patrocinadores/patro-pat_xtrem.jpg" alt="Xtreme Park">
                </a>
                <span>Recorriendo más de 30 paises, con más de 20 Juegos de Deporte Extremo, que ofrece la única y
                    verdadera experiencia en diversión extrema.</span>
            </div>
        </div>
    </div>
</div>