<div class="hero-master-container">

    <!-- Video de fondo en bucle -->
    <div class="video-background-wrapper">
        <video autoplay loop muted playsinline class="video-bg">
            <!-- URL de ejemplo con video de stock de feria/luces de noche. Luego puedes cambiarlo por un video real de la feria de un drive o assets -->
            <source src="assets/videos/ejem1.mp4" type="video/mp4">
            Tu navegador no soporta videos de fondo.
        </video>
        <!-- Capa de contraste para asegurar la legibilidad del texto corporativo -->
        <div class="hero-overlay"></div>
    </div>

    <!-- Contenido Textual Central -->
    <div class="hero-content-inner">
        <span class="hero-badge-live"><span class="pulse-dot"></span> Edición 2026</span>

        <h1 class="hero-title">
            El Epicentro de los <br>
            <span class="text-highlight">Negocios y la Industria</span>
        </h1>

        <p class="hero-description">
            Únete a la vitrina comercial e internacional más importante de La Paz. El punto de encuentro clave donde las
            marcas líderes, emprendedores emergentes y delegaciones globales consolidan alianzas estratégicas.
        </p>

        <!-- Botonera de conversión dual -->
        <div class="hero-actions-row">
            <button class="btn-hero-primary" (click)="dispararModalExpositores()">
                <i class="fa-solid fa-building-circle-arrow-right"></i> Reservar
                Espacio Expositor
            </button>
            <button class="btn-hero-secondary">
                <i class="fa-solid fa-calendar-lines-pen"></i> Explorar Agenda B2B
            </button>
        </div>
    </div>

</div>